@import '../../style/colors.scss';

.playerCard {
  width: 94%;
  max-width: 1200px;
  padding: 10px;
  margin: 30px auto;
}

.playerCardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.playerDetails {
  padding: 1px;
  margin-left: 30px; 
  text-align: left; 
}

.symptomsList {
  color:$white;
  padding: 1px;
  margin:0 3px;
  text-transform: lowercase;
  text-align: left;  
}
