@import '../../style/colors.scss';

.chart-wrap {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow-x: auto;
  display: flex;
}

.custom-tooltip {
  white-space: nowrap;
  font-size: 18px;
  padding: 10px;
  color: $white;
  background-color: $main-background;
  border-radius: 5px;
}

.tooltip-player {
  color: $playerData;
}

.tooltip-team {
  color: $teamData;
}
