$main-background: #041425 ;
$chart-background: #04142552;
$white: #ffffff;
$white-opacity: #ffffff20;
$action-background: #233140;
$light-gray: #a2a2a2;
$dark-gray: #333333;
$red: #ff0000;
$calendar:#183452;
$playerData:#970606;
$teamData:#183452;
$transparent: #ffffff00;